
.title {
	text-align: center;
	font-family: Montserrat, sans-serif;
}

.quote-box {
	background-color: #aa7da1;
	/*
	margin: 20%;
*/
	border-radius: 25px;
	padding: 20px;
}

.author {
	text-align: right;
}